<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The MQT Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="#">
        <img src="/static/mqt_light.png" alt="MQT Logo" id="mqtLogo">
    </a>
    <div class="navbar-title">The MQT Dashboard</div>
    <div class="toggle-container" id="darkModeToggle">
        <i id="modeIcon" class="fas fa-moon"></i>
    </div>
</nav>
<div class="container mt-5 pt-5 text-center">
    {{ table|safe }}
    <h2>GitHub Stars Over Time</h2>
    {{ plot1|safe }}
    <h2>PyPI Downloads Over Time</h2>
    {{ plot2|safe }}
    <h2>Total GitHub Stars and PyPI Downloads Over Time</h2>
    {{ plot3|safe }}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<script>
  $(document).ready(function() {
    $('table').DataTable({
      "paging": false,  // Disable pagination
      "order": [[ 1, "desc" ]],  // Sort by stars descending
      columnDefs: [
        { targets: [4, 5, 6, 7], type: 'num-fmt' }
      ]
    });

    // Extend DataTables sorting with custom numeric sorting for suffixes
    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
      "num-fmt-pre": function (a) {
        if (a === "N/A") return -1;
        if (a.indexOf('k') !== -1) {
          return parseFloat(a.replace('k', '')) * 1000;
        } else if (a.indexOf('m') !== -1) {
          return parseFloat(a.replace('m', '')) * 1000000;
        }
        return parseFloat(a);
      },
      "num-fmt-asc": function (a, b) {
        return a - b;
      },
      "num-fmt-desc": function (a, b) {
        return b - a;
      }
    });

    // Toggle dark mode
    $('#darkModeToggle').on('click', function () {
      $('body').toggleClass('dark-mode');
      const logo = $('#mqtLogo');
      const icon = $('#modeIcon');
      if ($('body').hasClass('dark-mode')) {
        logo.attr('src', '/static/mqt_light.png');
        icon.removeClass('fa-moon').addClass('fa-sun');
      } else {
        logo.attr('src', '/static/mqt_light.png');
        icon.removeClass('fa-sun').addClass('fa-moon');
      }
    });
  });
</script>
</body>
</html>
