<div
  class="card"
  data-stars="{{ repo.stars }}"
  data-downloads="{{ repo.total_downloads }}"
>
  <h3>{{ repo.repo }}</h3>
  <div class="stars">
    <i class="fas fa-star star-icon"></i> {{ repo.stars }}
  </div>
  <div class="release">
    <strong>Version:</strong> {{ repo.latest_release_version }} ({{
    repo.published_at }})
  </div>
  {% if repo.daily_downloads != "N/A" %}
  <div class="downloads">
    <strong>Downloads:</strong> Daily: {{ repo.daily_downloads }}, Weekly: {{
    repo.weekly_downloads }}, Monthly: {{ repo.monthly_downloads }}
  </div>
  <div class="totals">
    <strong>Total Downloads:</strong> {{ repo.total_downloads }}
  </div>
  {% endif %}
  <div class="links">
    <a href="{{ repo.github_link }}" target="_blank"
      ><i class="fab fa-github github-icon"></i> GitHub</a
    >
    {% if repo.pypi_link %}
    <a href="{{ repo.pypi_link }}" target="_blank"
      ><i class="fab fa-python pypi-icon"></i> PyPI</a
    >
    {% endif %}
  </div>
</div>
